*.bin
app/app.iml
.gradle/2.2.1/taskArtifacts/cache.properties
.idea/.name
.idea/gradle.xml
.idea/libraries/support_annotations_22_1_1.xml
.idea/vcs.xml
local.properties
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.idea/copyright/profiles_settings.xml
.idea/libraries/support_v4_22_1_1.xml
.idea/workspace.xml
.idea/modules.xml
.idea/libraries/appcompat_v7_22_1_1.xml
nms-on-android.iml
.idea/compiler.xml
.idea/misc.xml
app/app.iml
app/app.iml